
@font-face{
    font-family: 'Lato';
    src: local('Lato'),url(../fonts/Lato/Lato-Regular.ttf) format('woff');
  }
  

li {
    padding: 3%; 
  
    font-size: large;
    text-indent: 7px;
    
}

div{
    border-radius: 10px;
    font-family: 'Lato';
    
}

#title {grid-area: title;}
#link {grid-area: link;}
#date {grid-area: date;}
#deleteButton {grid-area: deleteButton;}


.gridContainer {
    padding: 1px;
   
    display: grid;
    grid-template-areas:
    'title title title title '
    ' link link link link'
    'date date deleteButton deleteButton '
    ;
   

}
div p {
    padding: 2px;
}

.gridContainer>div{
    margin:1px;
    background-color:rgba(247, 220, 192, 0.6);
    box-sizing: border-box;
    cursor: pointer;
}

.gridContainer>div:hover{
    margin:0;
    background-color:rgba(247, 220, 192, 0.8);
    border: 1px solid green;
    box-sizing: border-box;
   
}

#title{
    text-align: center;
    font-weight: bold
    
}

#deleteButton {
    text-align: center;
  
}

#deleteButton:hover{
    background-color: rgba(217, 76, 76, 0.5);
}



