
@font-face {
    font-family: "Lato";
    src: local("Lato"), url(../fonts/Lato/Lato-Regular.ttf) format("woff");
  }
  
  li {
    font-size: large;
    text-indent: 7px;
  }
  
  div {
    border-radius: 10px;
    font-family: "Lato";
  }
  
  #title {
    grid-area: title;
  }
  #link {
    grid-area: link;
  }
  #date {
    grid-area: date;
  }
  #deleteButton {
    grid-area: deleteButton;
  }
  
  .gridContainer {
    display: grid;
    grid-template-areas:
      "title title title title "
      " link link link link"
      "date date deleteButton deleteButton ";
  }
  
  .gridContainer > div {
    position: relative;
    margin: 2px;
    background-color: rgba(247, 220, 192, 0.6);
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid green;
  }
  
  div.p {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 2px;
  }
  
  .gridContainer > div:hover {
    background-color: rgba(247, 220, 192, 0.8);
    border: 1px solid green;
    box-sizing: border-box;
  }
  
  #deleteButton {
    text-align: center;
  }
  
  #deleteButton:hover {
    background-color: rgba(217, 76, 76, 0.5);
  }
  